body, html {
    min-height: 100%;
}

.font-parameter {
    font-weight: 500;
}

.alert {
    padding: 0.15rem 1.25rem;
}

.form-control::-webkit-input-placeholder {
    color: #C6C6C6;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #C6C6C6;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #C6C6C6;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #C6C6C6;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #C6C6C6;
}

/* Microsoft Edge */